MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=changeme
MONGO_HOST=localhost
MONGO_PORT=27018
MONGO_URI=mongodb://admin:changeme@localhost:27018/?authSource=admin
MONGO_DB=legal_case_ingestion
MONGO_LANDING_COLLECTION=cases_landing
MONGO_PROCESSED_COLLECTION=cases_processed
MONGO_EXPRESS_PORT=8081

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=http://localhost:9000
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_LANDING_BUCKET=landing-zone
MINIO_PROCESSED_BUCKET=processed-zone

#Unit is "months" or "days"
PARTITION_UNIT=
PARTITION_SIZE=

SCRAPY_ROBOTSTXT_OBEY=
SCRAPY_USER_AGENT=
SCRAPY_CONCURRENT_REQUESTS=
SCRAPY_DOWNLOAD_DELAY=
SCRAPY_AUTOTHROTTLE_ENABLED=
SCRAPY_AUTOTHROTTLE_TARGET_CONCURRENCY=
SCRAPY_RETRY_TIMES=